[Unit]
Description=JetRacer RTSP service
After=network.target graphical.target multi-user.target

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c "python3 /home/jetson/jetracer_server/main.py"
WorkingDirectory=/home/jetson
Restart=always

[Install]
WantedBy=multi-user.target
